
.prt1 {color: green;
    background-color: lightgreen;
    font-size: 80%;
    text-align: center;
}

.prt2 {color: green;
    background-color: lightgreen;
    font-size: 50%;
    text-align: center; 
}

.prt3 {color: green;
    background-color: lightgreen;
    font-size: 50%;
    text-align: center;
}

.prt4 {color: green;
    background-color: lightgreen;
    font-size: 80%;
    text-align: center;
}
